# Node.js fájlok
node_modules
npm-debug.log
pnpm-debug.log
yarn-error.log

# Next.js build fájlok
.next
out

# Docker saját fájlok
Dockerfile
docker-compose.yml

# Környezeti változók
.env
.env.local
.env.development
.env.production

# Git fájlok
.git
.gitignore

# IDE / Editor fájlok
.vscode
# Prisma generált fájlok (ha nem kell a buildbe)
prisma/dev.db
prisma/migrations/*/dev.db
