AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""
AUTH_TRUST_HOST=true

# Optional
BODY_SIZE_LIMIT="50mb"
JWT_DOWNLOAD_SECRET=""
JWT_DOWNLOAD_EXPIRES="1m"